body{
	background: white;
	margin:0;
	padding:0;
}

.navigation {
	li {
		display:inline;
		padding:20px;

		a {
			color:red;
		}
	}
}


.m-b-20 {
	margin-bottom:20px;
}


.m-b-10 {
	margin-bottom:10px;
}

.m-l-20 {
	margin-left:20px;
}


textarea {
	min-height:400px;
}


table {
	width:100%;
	margin-bottom:40px;

	tr,th {
		padding:20px;
		text-align:center;

		i {
			margin-right:10px;
		}
	}

	tr:nth-child(even){
		background-color:darken(#fff,10);
	}
}