<h1>Register</h1>

<form ng-submit="controller.submit()">
<input class="form-control m-b-20"  type="text" ng-model="controller.form.firstName" placeholder="First Name">
<input class="form-control m-b-20" type="text" ng-model="controller.form.lastName" placeholder="Last Name">
<input class="form-control m-b-20" type="text" ng-model="controller.form.email" placeholder="Email">
<input class="form-control m-b-20" type="password" ng-model="controller.form.password" placeholder="Password">
<input class="btn btn-primary" type="submit" value="Register">
</form>

